body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #6a1b9a; /* Fondo morado */
    color: #ffffff; /* Texto blanco */
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.image-container {
    margin: 20px auto;
}

.birthday-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

.birthday-image:hover {
    transform: scale(1.05);
}

.phrase-container {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.birthday-phrase {
    margin: 0;
    font-style: italic;
}
